@import _animate.sass

body
  background: azure
  font-size: 15px
  padding: 0px
  margin: 0px
  
#wrapper
  position: absolute
  background-color: #ccc
  width: 100%
  height: 300px
  margin: 0px
  padding: 0px
  
.text_holder
  border: 1px solid
  margin-top: 50px
  margin-left: auto
  margin-right: auto
  width: 300px
  text-align: center
  
.tada
  -webkit-animation: tada 2s
  -moz-animation: tada 2s
  -ms-animation: tada 2s
  animation: tada 2s
  
.fadeInRight
  -webkit-animation: fadeInRight 2s
  -moz-animation: fadeInRight 2s
  -ms-animation: fadeInRight 2s
  animation: fadeInRight 2s
  
.slowBlink
  -webkit-animation: fadeIn 1s infinite alternate
  -moz-animation: fadeIn 1s infinite alternate
  -ms-animation: fadeIn 1s infinite alternate
  animation: fadeIn 1s infinite alternate
  
.fadeOut
  -webkit-animation: fadeOut
  -moz-animation: fadeOut
  -ms-animation: fadeOut
  animation: fadeOut