/*
Syntax error: Invalid mixin include "@include #{$includedAnimation}("-webkit-")".
        on line 1721 of C:\Users\Kalin\Documents\css playtime\_animate.sass
        from line 3 of C:\Users\Kalin\Documents\css playtime\styles.sass

1716:   
1717: $includedAnimations: "tada" "slideLeft" "slideRight"
1718: 
1719: @$each $includedAnimation in $includedAnimations
1720:   @-webkit-keyframes anim#{$includedAnimation}
1721:     @include #{$includedAnimation}("-webkit-")
1722: 
1723:   @-moz-keyframes anim#{$includedAnimation}
1724:     @include anim#{$includedAnimation}("-moz-")
1725:   
1726:   @-ms-keyframes #{$includedAnimation}

Backtrace:
C:\Users\Kalin\Documents\css playtime\_animate.sass:1721
C:\Users\Kalin\Documents\css playtime\styles.sass:3
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:1107:in `parse_mixin_include'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:1101:in `parse_include_directive'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:806:in `parse_directive'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:653:in `parse_line'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:543:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:562:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:552:in `block in build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:545:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:545:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:562:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:552:in `block in build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:545:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:545:in `build_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:562:in `block in append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:561:in `append_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:412:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:305:in `to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid mixin include \"@include #{$includedAnimation}(\"-webkit-\")\".\A         on line 1721 of C:\Users\Kalin\Documents\css playtime\_animate.sass\A         from line 3 of C:\Users\Kalin\Documents\css playtime\styles.sass\A \A 1716:   \A 1717: $includedAnimations: \"tada\" \"slideLeft\" \"slideRight\"\A 1718: \A 1719: @$each $includedAnimation in $includedAnimations\A 1720:   @-webkit-keyframes anim#{$includedAnimation}\A 1721:     @include #{$includedAnimation}(\"-webkit-\")\A 1722: \A 1723:   @-moz-keyframes anim#{$includedAnimation}\A 1724:     @include anim#{$includedAnimation}(\"-moz-\")\A 1725:   \A 1726:   @-ms-keyframes #{$includedAnimation}"; }
