@import _animate.sass

body
  background: azure
  font-size: 15px
  padding: 0px
  margin: 0px
  
#wrapper
  position: absolute
  background-color: #ccc
  width: 100%
  height: 300px
  margin: 0px
  padding: 0px
  
.text_holder
  border: 1px solid

#text1
  margin-top: 50px
  margin-left: auto
  margin-right: auto
  width: 300px
  text-align: center

#text2
  visibility: hidden
  
.fadeIn
  -webkit-animation: fadeIn 2s .5s infinite alternate
  -moz-animation: fadeIn 2s .5s infinite alternate
  -ms-animation: fadeIn 2s .5s infinite alternate
  animation: fadeIn 2s .5s infinite alternate
  
.fadeOut
  -webkit-animation: fadeOut
  -moz-animation: fadeOut
  -ms-animation: fadeOut
  animation: fadeOut